{
  "ios": {
    "VerityProtect": {
      "provisioningProfilePath": "ios/certs/VerityProtect-AppStore.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/dist.p12",
        "password": "YOUR_P12_PASSWORD"
      }
    },
    "VerityProtectWidgetExtension": {
      "provisioningProfilePath": "ios/certs/VerityProtect-Widget-AppStore.mobileprovision",
      "distributionCertificate": {
        "path": "ios/certs/dist.p12",
        "password": "YOUR_P12_PASSWORD"
      }
    }
  }
}
